/*
Colors used:
Primary Color (Yellow): #fff176;
Secondary Color (White): #ffffff;
Secondary Color (Gray 1): #6d6d6d;
Secondary Color (Gray 2): #424242;
Secondary Color (Gray 3): #1b1b1b;
*/
* {
  box-sizing: border-box;
}
body {
  background-image: url("../img/site-logos/mobile-background.svg");
  background-repeat: repeat-y;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1; /* Sets the line-height to 1  * the font-size */
  color: #424242;
  background-size: cover;
}
header {
  background-color: #1b1b1b;
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}
main {
  padding-top: 70px;
}
h1, h2, h3, h4 {
  font-family: 'Rokkitt', serif;
  line-height: 1;
  color: #1b1b1b;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #424242;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-decoration: none;
}
a:visited { /* visited link */
  color: #6d6d6d;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1b1b1b;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
a:active { /* selected link */
  color: #fff176;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
}
.button {
  background-color: transparent;
  transition: .5s;
}
.button:hover,
.button:focus {
  background-color: #fff176;
  background-size: 100%;
}
.button:active {
  color: #1b1b1b;
}
.button.contact {
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: 'Rokkitt', serif;
  text-transform: uppercase;
  width: 120px;
  transition: 1s;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  float: none;
}
.button.contact:hover,
.button.contact:focus {
  background-color: #6d6d6d;
  color: #ffffff;
}
.button.contact:active {
  background-color: #6d6d6d;
  color: #ffffff;
  text-decoration: underline;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
.logo {
  max-width: 50px;
  position: fixed;
}
nav {
  display: inline-block;
  width: 100%;
  position: relative;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 3px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #fff176;
}
nav > ul > li > a:active {
  text-transform: underline;
}
.navtoggle li:not(:last-child) {
display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-top: 13px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,141,118,0.5);
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
#hero h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#email-step2-images .column {
  flex: 25%;
  padding: 5px;
  margin: 0 5px;
  }
#email-step2-images .row {
  display: flex;
}
#email-step3-images .column {
  flex: 33.3%;
  padding: 5px;
}
#email-step3-images .row {
  display: flex;
}
#email-step3-images-2 .column {
  flex: 33.3%;
  padding: 5px;
}
#email-step3-images-2 .row {
  display: flex;
}
#email-step4-images .column {
  flex: 50%;
  padding: 5px;
}
#email-step4-images .row {
  display: flex;
}
div > ul.b {
  list-style-type: none;
  padding: 0px;
}
div > ul.b > li {
  display: inline;
}
svg {
  max-width: 50px;
}
.css-animations svg {
  min-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
#navbar .container {
  display: block;
}
#hero .container {
  padding: 30px;
}
ul.a {
  list-style-type: square;
}
#work .row {
  margin: 25px 0;
  padding: 10px 10px 30px 10px;
  background-color: rgba(255, 255, 255, .75);
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
#work h3 {
  margin: 15px 0;
}
#about .row {
  margin: 25px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, .75);
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
#about h3 {
  margin: 10px;
}
#about-main .row {
  margin: 25px 0;
  padding: 10px 10px 30px 10px;
  background-color: rgba(255, 255, 255, .75);
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#prototype-embed .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 178%;
}
#prototype-embed .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#hero p {
  width: 70%;
}
#project-4 svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.css.animations svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#contact p {
  padding-bottom: 16px;
}
@keyframes small-rotate {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(10deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}
@keyframes color-change-1 {
  0% {fill: #cd007a;}
  100% {fill: #000000;}
}
.st56 {
  animation: 2s color-change-1 infinite alternate linear;
  animation: 4s small-rotate infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes tulipmove {
  0% {transform: translate(0,50px);}
  15% {transform: translate(-4px,45px);}
  45% {transform: translate(8px;30px);}
  75% {transform: translate(-4px,15px);}
  100% {transform: translate(0,-50px;);}
}
.tulip {
  animation: 6s tulipmove infinite alternate ease;
}
@keyframes spin {
  0% {transform: rotate(10deg);}
  100% {transform: rotate(-359deg);}
}
#pinwheel-1 {
  animation: 3s spin infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#pinwheel-2 {
  animation: 1s spin infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#pinwheel-3 {
  animation: 5s spin infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#pinwheel-4 {
  animation: 3.5s spin infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#pinwheel-5 {
  animation: .5s spin infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#pinwheel-6 {
  animation: 2.5s spin infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes bounce {
  0% {transform: translate(0,0);}
  100% {transform: translate(0,-15px);}
}
.glady-bounce {
  animation: .5s bounce infinite alternate ease;
}
@keyframes shine-1 {
    0% {fill: #2c973e;}
    20% {fill: #73bc7d;}
    30% {fill: #2c973e;}
}
#pot-stripe-1 {
  animation: 2s shine-1 infinite ease;
}
@keyframes shine-2 {
    0% {fill: #1e81ab;}
    25% {fill: #71a9bc;}
    35% {fill: #1e81ab;}
}
#pot-stripe-2 {
  animation: 2s shine-2 infinite ease;
}
@keyframes shine-3 {
    0% {fill: #cccc9d;}
    20% {fill: #cccc9d;}
    30% {fill: #eaeae4;}
    40% {fill: #cccc9d;}
}
#pot-stripe-3 {
  animation: 2s shine-3 infinite ease;
}
@keyframes wiggle {
  0% {transform: translate(0,0);}
  20% {transform: translate(-2px,1px);}
  40% {transform: translate(0,0);}
  60% {transform: translate(2px,-1px);}
  80% {transform: translate(1px,0);}
  100% {transform: translate(0,0);}
}
#bb-bunch-1 {
  animation: 2s wiggle infinite ease;
}
#bb-bunch-1-stem {
  animation: 2s wiggle infinite ease;
}
#bb-bunch-2 {
  animation: 3s wiggle infinite ease;
}
#bb-bunch-2-stem {
  animation: 3s wiggle infinite ease;
}
@keyframes color-change-small {
  0% {fill: #d8a6a1;}
  20% {fill: #771510;}
  30% {fill: #ffce00;}
  40% {fill: #63b751;}
  60% {fill: #518eb7;}
  80% {fill: #ad71db;}
  100% {fill: #d8a6a1;}
}
.st38 {
  animation: 15s color-change-small infinite ease;
}
.little-daisy {
  animation: 4s small-rotate infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes zoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}
#clover-1 {
  animation: 2s zoom infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#clover-2 {
  animation: 1s zoom infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#clover-3 {
  animation: 2.4s zoom infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 1s;
}
#clover-4 {
  animation: 3.1s zoom infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes swirl {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
#_x31_ {
  animation: 2.5s swirl infinite ease;
  transform-origin: center;
}
#_x32_ {
  animation: 2.5s swirl infinite ease;
  animation-delay: .1s;
  transform-origin: center;
}
#_x33_ {
  animation: 2.5s swirl infinite ease;
  animation-delay: .2s;
  transform-origin: center;
}
#_x34_ {
  animation: 2.5s swirl infinite ease;
  animation-delay: .3s;
  transform-origin: center;
}
#_x35_ {
  animation: 2.5s swirl infinite ease;
  animation-delay: .4s;
  transform-origin: center;
}
@keyframes full-spin {
  0% {transform: rotate(-30deg);}
  100% {transform: rotate(330deg);}
}
.whole-spinner {
  animation: 4s full-spin infinite ease;
}
@keyframes the-wave {
  0% {transform: scaleY(0);}
  50% {transform: scaleY(3);}
  100% {transform: scaleY(0);}
}
#rectangle-1 {
  animation: 3s the-wave infinite ease;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-2 {
  animation: 3s the-wave infinite ease;
  animation-delay: .25s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-3 {
  animation: 3s the-wave infinite ease;
  animation-delay: .5s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-4 {
  animation: 3s the-wave infinite ease;
  animation-delay: .75s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-5 {
  animation: 3s the-wave infinite ease;
  animation-delay: 1s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-6 {
  animation: 3s the-wave infinite ease;
  animation-delay: 1.25s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-7 {
  animation: 3s the-wave infinite ease;
  animation-delay: 1.5s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-8 {
  animation: 3s the-wave infinite ease;
  animation-delay: 1.75s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-9 {
  animation: 3s the-wave infinite ease;
  animation-delay: 2s;
  transform-origin: center;
  transform-box: fill-box;
}
#rectangle-10 {
  animation: 3s the-wave infinite ease;
  animation-delay: 2.25s;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes fade-out {
    0% {fill: #000000;}
    50% {fill: rgba(0,0,0,0.25);}
    100% {fill: #000000;}
}
.square-bars {
  animation: 6s fade-out infinite ease;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    z-index: 1;
  }
  nav {
    width: 100%;
    text-align: right;
    margin-top: 4px;
  }
  nav > ul > li {
    display: none;
  }
.navtoggle li:not(:last-child) {
  display: inline-block;
}
  .col-md-6 {
    width: 50%;
    padding: 8px;
    object-fit: cover;
  }
  #wide-image-1 img {
    min-width: 279px;
    min-height: 279px;
    object-fit: cover;
  }
  #wide-image-2 img {
    min-width: 279px;
    min-height: 279px;
    object-fit: cover;
  }
  #tall-image-1 img {
    min-width: 279px;
    min-height: 279px;
    object-fit: cover;
    }
[class*="col-"] {
  float: left;
  }
.row::after {
  content: "";
  clear: both;
  display: table;
  }
h1 {
  margin-top: 50px;
  }
#skills-tools h2 {
  margin-top: 55px;
  }
#work .row {
  padding: 10px;
  position: relative;
  }
a.button {
  padding: 0px;
  }
#work a.button {
    position: absolute;
    right: 18px;
    bottom: 18px;
  }
#work p {
  padding-bottom: 20px;
}
#about-main .row {
  position: relative;
}
#about-main a.button {
    position: absolute;
    right: 18px;
    bottom: 18px;
  }
  footer {
    clear: left;
  }
  #skills-tools h2 {
    margin-top: 40px;
    margin-bottom: 0px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.navtoggle li:last-child {
  display: none;
}
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 img {
    max-height: 279px;
    object-fit: cover;
  }
  #hero h1 {
    font-size: 10em;
    margin-bottom: 10px;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
