/*
Colors used:
Primary Color (Yellow): #fff176;
Secondary Color (White): #ffffff;
Secondary Color (Gray 1): #6d6d6d;
Secondary Color (Gray 2): #424242;
Secondary Color (Gray 3): #1b1b1b;
*/
* {
  box-sizing: border-box;
}
body {
  background-image: url("../img/site-logos/mobile-background.svg");
  background-repeat: repeat-y;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1; /* Sets the line-height to 1  * the font-size */
  color: #424242;
}
header {
  background-color: #1b1b1b;
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}
main {
  padding-top: 70px;
}
h1, h2, h3, h4 {
  font-family: 'Rokkitt', serif;
  line-height: 1;
  color: #1b1b1b;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #424242;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-decoration: none;
}
a:visited { /* visited link */
  color: #6d6d6d;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1b1b1b;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
a:active { /* selected link */
  color: #fff176;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: transparent;
  float: right;
  border: none;
  color: #424242;
  font-weight: 400;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover,
.button:focus {
  background-color: #fff176;
  border: none;
  color: #424242;
  font-weight: 400;
  transition: all 0.5s;
}
.button:active {
  background-color: #ffe504;
  border: none;
  color: #424242;
  font-weight: 400;
  transition: all 0.5s;
  text-decoration: none;
}
.button.contact {
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: 'Rokkitt', serif;
  text-transform: uppercase;
  width: 120px;
  transition: 1s;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  float: none;
}
.button.contact:hover,
.button.contact:focus {
  background-color: #6d6d6d;
  color: #ffffff;
}
.button.contact:active {
  background-color: #6d6d6d;
  color: #ffffff;
  text-decoration: underline;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
.logo {
  max-width: 50px;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 3px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #fff176;
}
nav > ul > li > a:active {
  text-transform: underline;
}
#hero h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#email-step2-images .column {
  flex: 25%;
  padding: 5px;
  margin: 0 5px;
  }
#email-step2-images .row {
  display: flex;
}
#email-step3-images .column {
  flex: 33.3%;
  padding: 5px;
}
#email-step3-images .row {
  display: flex;
}
#email-step3-images-2 .column {
  flex: 33.3%;
  padding: 5px;
}
#email-step3-images-2 .row {
  display: flex;
}
#email-step4-images .column {
  flex: 50%;
  padding: 5px;
}
#email-step4-images .row {
  display: flex;
}
div > ul.b {
  list-style-type: none;
  padding: 0px;
}
div > ul.b > li {
  display: inline;
}
svg {
  max-width: 50px;
}
#navbar .container {
  display: inline-flex;
}
#hero .container {
  padding: 30px;
}
ul.a {
  list-style-type: square;
}
#work .row {
  margin: 25px 0;
  padding: 10px 10px 30px 10px;
  background-color: rgba(255, 255, 255, .75);
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
#work h3 {
  margin: 15px 0;
}
#about .row {
  margin: 25px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, .75);
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
#about h3 {
  margin: 10px;
}
#about-main .row {
  margin: 25px 0;
  padding: 10px 10px 30px 10px;
  background-color: rgba(255, 255, 255, .75);
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#prototype-embed .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 178%;
}
#prototype-embed .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    z-index: 1;
  }
  nav {
    width: auto;
    text-align: right;
    margin-top: 4px;
  }
  .col-md-6 {
    width: 50%;
    padding: 8px;
  }
  .col-md-6::before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  #wide-image-1 img {
    min-width: 279px;
    min-height: 279px;
    object-fit: cover;
  }
  #wide-image-2 img {
    min-width: 279px;
    min-height: 279px;
    object-fit: cover;
  }
  #tall-image-1 img {
    min-width: 279px;
    min-height: 279px;
    object-fit: cover;
    }
[class*="col-"] {
  float: left;
  }
.row::after {
  content: "";
  clear: both;
  display: table;
  }
h1 {
  margin-top: 50px;
  }
#skills-tools h2 {
  margin-top: 55px;
  }
#work .row {
  padding: 10px;
  position: relative;
  }
a.button {
  padding: 0px;
  }
#work a.button {
    position: absolute;
    right: 18px;
    bottom: 18px;
  }
#work p {
  padding-bottom: 20px;
}
#about-main .row {
  position: relative;
}
#about-main a.button {
    position: absolute;
    right: 18px;
    bottom: 18px;
  }
  footer {
    clear: left;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
